# Entornos virtuales
.conda/
.venv/

# Archivos de modelo (grandes)
yolo11l.pt
yolo11n.pt
**/runs/train_custom/exp2/weights/last.pt

# Archivos de datos generados (¡revisa si 'tracking_results.csv' debe ir aquí!)
VC_P4/tracking_results.csv

# Caché de Python
__pycache__/
*.pyc

# Checkpoints de Jupyter
.ipynb_checkpoints/

# Configuración de IDE
.vscode/

# Archivos de sistema operativo
.DS_Store
Thumbs.db